/* 页头 */

header {
    position: relative;
    /* height: 450px; */
    /* background-image: url(../images/顶部背景.png); */
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

header>#toub_bj {
    /* position: relative; */
    width: 100%;
}

header>menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
}

header>menu>#logo {
    position: relative;
    left: 50px;
    display: inline-block;
}

header>menu>#logo>img {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 30px;
}

header>menu>ul {
    float: right;
    font-size: 16px;
    margin-right: 50px;
}

header>menu>ul>li {
    float: left;
    color: #fcfcfc;
    padding: 0 10px;
}

header>menu>ul>li>a {
    color: #fff;
}

#pfsh {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
}

#pfsh>img {
    width: 100%;
    height: 100%;
}

#about_us {
    height: 50px;
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #010715;
    padding: 0 20px;
    border-radius: 10px;
}

#about_us>img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100px;
}


/* main */

main {
    position: relative;
}

main>article {
    position: relative;
}


/* 内容1 */

main>article:nth-of-type(1) {
    padding: 30px 0 40px;
}

main>article:nth-of-type(1)>div {
    height: 300px;
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
}

main>article:nth-of-type(1)>div>section {
    float: left;
}

main>article:nth-of-type(1)>div>section:nth-of-type(1) {
    width: 290px;
    margin-right: 40px;
}

main>article:nth-of-type(1)>div>section:nth-of-type(1)>img {
    width: 100%;
}

main>article:nth-of-type(1)>div>section>p {
    font-size: 12px;
    text-indent: 2em;
    color: #727171;
    line-height: 160%;
}

main>article:nth-of-type(1)>div>section:nth-of-type(2) {
    position: relative;
    height: 100%;
}

main>article:nth-of-type(1)>div>section:nth-of-type(2)>img {
    height: 100%;
    vertical-align: bottom;
}

main>article:nth-of-type(1)>div>section:nth-of-type(2)>div {
    display: inline-block;
    position: relative;
    bottom: 0;
    width: 280px;
    margin-left: 10px;
}

main>article:nth-of-type(1)>div>section:nth-of-type(2)>div>h3 {
    margin-bottom: 10px;
}

main>article:nth-of-type(1)>div>section:nth-of-type(2)>div>p {
    font-size: 12px;
    text-indent: 2em;
    line-height: 250%;
    color: #727171;
}


/* 内容2 */

main>article:nth-of-type(2) {
    color: #fff;
}

main>article:nth-of-type(2)>#neir2 {
    width: 100%;
}

main>article:nth-of-type(2)>#kafb {
    position: absolute;
    top: -50px;
    right: 0;
    width: 210px;
}

main>article:nth-of-type(2)>h2 {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
}

main>article:nth-of-type(2)>a {
    display: inline-block;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    padding: 2px 25px;
    font-size: 24px;
    color: #fff;
    border: 1px solid #fff;
}


/* 内容3 */

main>article:nth-of-type(3)>section {
    position: relative;
    width: 75%;
    margin: 0 auto;
}

main>article:nth-of-type(3)>section:nth-of-type(1) {
    height: 394px;
    margin: 40px auto;
}

main>article:nth-of-type(3)>section:nth-of-type(1)>ul {
    float: left;
    width: 70%;
}

main>article:nth-of-type(3)>section:nth-of-type(1)>ul>li {
    float: left;
    width: 30%;
    margin-right: 3%;
}

main>article:nth-of-type(3)>section:nth-of-type(1)>ul>li:nth-of-type(n+4) {
    margin-top: 15px;
}

main>article:nth-of-type(3)>section:nth-of-type(1)>ul>li>img {
    width: 100%;
}

main>article:nth-of-type(3)>section:nth-of-type(1)>div {
    position: relative;
    float: right;
    width: 30%;
    height: 100%;
    background-color: #010715;
    padding: 20px 10px;
    color: #fff;
}

main>article:nth-of-type(3)>section:nth-of-type(1)>div>h3 {
    margin: 5px 0;
}

main>article:nth-of-type(3)>section:nth-of-type(1)>div>p {
    font-size: 12px;
    text-indent: 2em;
    line-height: 150%;
}

main>article:nth-of-type(3)>section:nth-of-type(1)>div>button {
    display: inline-block;
    position: absolute;
    left: 10px;
    bottom: 20px;
    width: 31px;
    height: 31px;
    background-color: transparent;
    border: 3px solid #fff;
    /* border-radius: 5px; */
    cursor: pointer;
}

main>article:nth-of-type(3)>section:nth-of-type(1)>div>button::before {
    position: relative;
    top: 2px;
    left: -30%;
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #fff;
    /* border-top-right-radius: 5px; */
    border-left: none;
    border-bottom: none;
    transform: rotate(45deg);
}


/*  */

main>article:nth-of-type(3)>section:nth-of-type(2) {
    margin: 120px auto 60px;
}

main>article:nth-of-type(3)>section:nth-of-type(2)>p {
    float: left;
    width: 48%;
    text-indent: 2em;
    text-align: justify;
    color: #727171;
    font-size: 12px;
    line-height: 200%;
}

main>article:nth-of-type(3)>section:nth-of-type(2)>p:last-child {
    float: right;
}


/*  */

main>article:nth-of-type(3)>section:nth-of-type(3) {
    margin-bottom: 60px;
}

main>article:nth-of-type(3)>section:nth-of-type(3)>img {
    float: left;
    position: relative;
    width: 85%;
    top: 0;
    left: -10%;
}

main>article:nth-of-type(3)>section:nth-of-type(3)>div {
    position: absolute;
    top: 90px;
    left: 500px;
    float: left;
    width: 45%;
    background-color: #fff;
    padding: 40px 20px;
    border: 2px solid #eeedec;
    box-shadow: 10px 10px 10px #443e39;
}

main>article:nth-of-type(3)>section:nth-of-type(3)>div>h3 {
    margin-bottom: 5px;
}

main>article:nth-of-type(3)>section:nth-of-type(3)>div>h3>span {
    border-bottom: 3px solid #000;
}

main>article:nth-of-type(3)>section:nth-of-type(3)>div>p {
    color: #727171;
    font-size: 12px;
    text-indent: 2em;
    text-align: justify;
    line-height: 200%;
}


/* 页尾 */

footer {
    position: relative;
    background-color: #010715;
    padding: 30px 0 80px;
    color: #fff;
    padding: auto;
}

footer>h3 {
    text-align: center;
    color: #fff;
    margin-bottom: 40px;
}

footer>div {
    position: relative;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
}

footer>div>dl {
    float: left;
    margin-right: 100px;
}

footer>div>dl:nth-last-child(1) {
    margin-right: 0!important;
}

footer>div>dl>dt {
    font-weight: bold;
}

footer>div>dl>dd>a {
    color: #a49d9f;
    font-weight: lighter;
}