<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/index.css">

</head>

<body>
    <header>
        <img src="../static/images/顶部背景.png" alt="" id="toub_bj">
        <menu>
            <a id="logo" href="#"><img src="../static/images/logo.png" alt="IT' S COFFEE"></a>
            <ul>
                <li>
                    <a href="#">首页</a>
                </li>
                <li>·</li>
                <li>
                    <a href="#">公司简介</a>
                </li>
                <li>·</li>
                <li>
                    <a href="#">加盟合作</a>
                </li>
                <li>·</li>
                <li>
                    <a href="#">咖啡服务</a>
                </li>
                <li>·</li>
                <li>
                    <a href="#">新闻中心</a>

                </li>
                <li>·</li>
                <li>
                    <a href="#">联系我们</a>
                </li>
            </ul>
        </menu>
        <a id="pfsh" href="#"><img src="../static/images/平凡生活.png" alt="平凡生活"></a>
        <a id="about_us" href="#"><img src="../static/images/about_us.png" alt="ABOUT US"></a>
    </header>
    <main>
        <!-- 内容1 -->
        <article>
            <div>
                <section>
                    <img src="../static/images/咖啡杯4.png" alt="">
                    <p>咖啡是世界三大饮料之一，是用经过烘焙的咖啡豆制作出来的饮料，与可可、茶同为流行于世界的主要饮品。</p>
                    <p>咖啡树是属茜草科常乔木，日常饮用的咖啡是用咖啡豆配合各种不同的烹煮器具制作出来的。</p>
                </section>
                <section>
                    <img src="../static/images/咖啡豆.png" alt="">
                    <div>
                        <h3>咖啡起源</h4>
                            <p>咖啡树是属茜草科常乔木，日常饮用的咖啡是用咖啡豆配合各种不同的烹煮器具制作出来的，而咖啡豆就是指咖啡树果实里面的果仁，再用适当的方法烘焙而成，一杯标准的咖啡品尝起来的味道不应该是苦涩的，一名合格的咖啡师在制作咖啡时会严谨地进行每一步操作，最后为客人呈上的咖啡在味觉上会呈现出不同程度的甜度、酸度、醇厚度或是干净度。</p>
                    </div>

                </section>
            </div>

        </article>
        <!-- 内容2 -->
        <article>
            <img src="../static/images/内容2背景-8.png" alt="" id="neir2">
            <h2>MAKE A DIFFERENT COFFEE</h2>
            <a href="#">查看更多</a>
            <img src="../static/images/咖啡杯.png" alt="" id="kafb">
        </article>
        <!-- 内容3 -->
        <article>
            <section class="clearfloat">
                <ul class="clearfloat">
                    <li><img src="../static/images/内容3-1.png" alt=""></li>
                    <li><img src="../static/images/内容3-2.png" alt=""></li>
                    <li><img src="../static/images/内容3-3.png" alt=""></li>
                    <li><img src="../static/images/内容3-4.png" alt=""></li>
                    <li><img src="../static/images/内容3-5.png" alt=""></li>
                    <li><img src="../static/images/内容3-6.png" alt=""></li>
                </ul>
                <div>
                    <h3>产品类别</h3>
                    <p> 咖啡是世界三大饮料之一，是用经过烘焙的咖啡豆制作出来的饮料，与可可、茶同为流行于世界的主要饮品。</p>
                    <p>咖啡树是属茜草科常乔木，日常饮用的咖啡是用咖啡豆配合各种不同的烹煮器具制作出来的，而咖啡豆就是指咖啡树果实里面的果仁，再用适当的方法烘焙而成，一杯标准的咖啡品尝起来的味道不应该是苦涩的，一名合格的咖啡师在制作咖啡时会严谨地进行每一步操作，最后为客人呈上的咖啡在味觉上会呈现出不同程度的甜度、酸度、醇厚度或是干净度。</p>
                    <button></button>
                </div>
            </section>
            <section class="clearfloat">
                <p>咖啡是世界三大饮料之一，是用经过烘焙的咖啡豆制作出来的饮料，与可可、茶同为流行于世界的主要饮品。 咖啡树是属茜草科常乔木，日常饮用的咖啡是用咖啡豆配合各种不同的烹煮器具制作出来的，而咖啡豆就是指咖啡树果实里面的果仁，再用适当的方法烘焙而成，一杯标准的咖啡品尝起来的味道不应该是苦涩的，一名合格的咖啡师在制作咖啡时会严谨地进行每一步操作，最后为客人呈上的咖啡在味觉上会呈现出不同程度的甜度、酸度、醇厚度或是干净度。
                </p>
                <p>“咖啡”一词源自于希腊语“KAWEH”，意思是“力量与热情”在世界各地，人们越来越爱喝咖啡。随之而来的“咖啡文化 ”充满生活的每个时刻。无论在家里、还是在办公室、或是各种社交场合，人们都在品着咖啡。它逐渐与时尚、现代生活联系在一起。</p>
            </section>
            <section class="clearfloat">
                <img src="../static/images/内容3-7.png" alt="">
                <div>
                    <h3><span>加盟合作</span></h3>
                    <p>“咖啡”一词源自于希腊语“KAWEH”，意思是“力量与热情”在世界各地，人们越来越爱喝咖啡。随之而来的“咖啡文化 ”充满生活的每个时刻。无论在家里、还是在办公室、或是各种社交场合，人们都在品着咖啡。它逐渐与时尚、现代生活联系在一起。</p>
                </div>
            </section>
        </article>
    </main>
    <footer>
        <h3>IT'S COFFEE</h3>
        <div class="clearfloat">
            <dl>
                <dt>关于是啡咖啡</dt>
                <dd>
                    <a href="#">品牌故事</a>
                </dd>
                <dd>
                    <a href="#">公司历程</a>
                </dd>
            </dl>
            <dl>
                <dt>加盟合作</dt>
                <dd>
                    <a href="#">加盟服务</a>
                </dd>
                <dd>
                    <a href="#">门店展示</a>
                </dd>
            </dl>
            <dl>
                <dt>客户服务</dt>
                <dd>
                    <a href="#">咨询服务</a>
                </dd>
                <dd>
                    <a href="#">友情链接</a>
                </dd>
                <dd>
                    <a href="#">常见问题</a>
                </dd>
                <dd>
                    <a href="#">更多</a>
                </dd>
            </dl>
            <dl>
                <dt>找到我们</dt>
                <dd>
                    <a href="#">地图导航</a>
                </dd>
            </dl>
        </div>
    </footer>
</body>

</html>